<div class="header">
  <div class="title">
    <h1>Vinyl</h1>
  </div>
  <div class="authorization-buttons">
    <h1 class="header-links"><a href="/<%= firstLink %>"><%= firstLinkText %></a></h1>
    <h1 class="header-links"><a href="/<%= secondLink %>"><%= secondLinkText %></a></h1>
  </div>
</div>
