<!DOCTYPE html>
<html>

<%- include('./head') %>

<body>

  <div class="signin-signup-page">
    <h1>Sign In</h1>
    <div class="input-row">
      <h2>Email </h2>
      <input class="input-box"/>
    </div>
    <div class="input-row">
      <h2>Password </h2>
      <input class="input-box"/>
    </div>
  </div>

</body>
</html>
