<!DOCTYPE html>
<html>

<%- include('./head') %>

<body>
<div class="signup-page">
  <h1>Sign Up for Vinyl</h1>
  <div class="input-row">
    <h2>Name </h2>
    <input class="input-box"/>
  </div>
  <div class="input-row">
    <h2>Email </h2>
    <input class="input-box"/>
  </div>
  <div class="input-row">
    <h2>Password </h2>
    <input class="input-box"/>
  </div>
</div>

</body>
</html>
